# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
    - dependency-name: "node"
      versions: ["19-alpine"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 25
    ignore:
    - dependency-name: "@types/node" 
      versions: ["19.x"]
    - dependency-name: "@etherisc/gif-interface"
      # ignore all updates to this dependency 
    - dependency-name: "@etherisc/depeg-contracts"
      # ignore all updates to this dependency
    reviewers:
      - "doerfli"
